{%extends "nav-bar.html"%}

{%block content%}
    <body style = "overflow-x: hidden;">
        <div class="carousel-container">
            <div id = "leftbutton">
                <button>
                    &#11164;
                </button>
            </div>
            <div class = "carousel">
                <div class="level" id ="lvl1">
                    <div class="gradient">
                        <h1>Level 1</h1>
                        <p>Hydrogen-Neon</p>
                        <button>Play</button>
                    </div>
                </div>
                <div class="level">
                    a
                </div>
                <div class="level">
                    a
                </div>
                <div class="level">
                    a
                </div>
                <div class="level">
                    a
                </div>
                <div class="level">
                    a
                </div>
            </div>
            <div id = "rightbutton">
                <button>
                    &#11166;
                </button>
            </div>
        </div>  
        <script src = "{{url_for('static', filename = 'script/levelcarousel.js')}}"></script>
    </body>
{% endblock %}