{% extends "nav-bar.html" %}

{% block title %} Atomic Odyssey {%endblock%}
        

{%block content%}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages%}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<table class = "table-of-element">
    <tr>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
        <th>1</th>
    </tr>

    <tr>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>1</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>H</p>
                </div>
                <div class="type" >
                    <p>Hydrogen</p>
                </div>
            </div>
        </td>
        
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td> 
        <td class="blank"></td>
        <td class="blank"></td>
        <td >
            <div class = "element">
                <div class = "atomic-details">
                    <p>2</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>He</p>
                </div>
                <div class="type" >
                    <p>Helium</p>
                </div>
            </div>
        </td>
        
    </tr>

    <tr>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>3</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Li</p>
                </div>
                <div class="type" >
                    <p>Lithium</p>
                </div>
            </div>
        </td>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>4</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Be</p>
                </div>
                <div class="type" >
                    <p>Beryllium</p>
                </div>
            </div>
        </td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>5</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>B</p>
                </div>
                <div class="type" >
                    <p>Boron</p>
                </div>
            </div>
        </td><td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>6</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>C</p>
                </div>
                <div class="type" >
                    <p>Carbon</p>
                </div>
            </div>
        </td><td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>7</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>N</p>
                </div>
                <div class="type" >
                    <p>Nitrogen</p>
                </div>
            </div>
        </td><td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>8</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>O</p>
                </div>
                <div class="type" >
                    <p>Oxygen</p>
                </div>
            </div>
        </td><td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>9</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>F</p>
                </div>
                <div class="type" >
                    <p>Fluorine</p>
                </div>
            </div>
        </td>
            
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>10</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Ne</p>
                </div>
                <div class="type" >
                    <p>Neon</p>
                </div>
            </div>
        </td>
        
    </tr>

    <tr>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>11</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Na</p>
                </div>
                <div class="type" >
                    <p>Sodium</p>
                </div>
            </div>
        </td>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>12</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Mg</p>
                </div>
                <div class="type" >
                    <p>Magnesium</p>
                </div>
            </div>
        </td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>13</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Al</p>
                </div>
                <div class="type" >
                    <p>Aluminum</p>
                </div>
            </div>
        </td><td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>14</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Si</p>
                </div>
                <div class="type" >
                    <p>Silicon</p>
                </div>
            </div>
        </td><td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>15</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>P</p>
                </div>
                <div class="type" >
                    <p>Phosphorus</p>
                </div>
            </div>
        </td><td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>16</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>S</p>
                </div>
                <div class="type" >
                    <p>Sulfur</p>
                </div>
            </div>
        </td><td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>17</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Cl</p>
                </div>
                <div class="type" >
                    <p>Chlorine</p>
                </div>
            </div>
        </td>
            
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>18</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Ar</p>
                </div>
                <div class="type" >
                    <p>Argon</p>
                </div>
            </div>
        </td>
        
    </tr>

    <tr>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>11</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Na</p>
                </div>
                <div class="type" >
                    <p>Sodium</p>
                </div>
            </div>
        </td>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>12</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Mg</p>
                </div>
                <div class="type" >
                    <p>Magnesium</p>
                </div>
            </div>
        </td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td class="blank"></td>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>13</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Al</p>
                </div>
                <div class="type" >
                    <p>Aluminum</p>
                </div>
            </div>
        </td>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>14</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Si</p>
                </div>
                <div class="type" >
                    <p>Silicon</p>
                </div>
            </div>
        </td>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>15</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>P</p>
                </div>
                <div class="type" >
                    <p>Phosphorus</p>
                </div>
            </div>
        </td>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>16</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>S</p>
                </div>
                <div class="type" >
                    <p>Sulfur</p>
                </div>
            </div>
        </td>
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>17</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Cl</p>
                </div>
                <div class="type" >
                    <p>Chlorine</p>
                </div>
            </div>
        </td>
            
        <td>
            <div class = "element">
                <div class = "atomic-details">
                    <p>18</p>
                    <p></p>
                </div>
                <div class="symbol">
                    <p>Ar</p>
                </div>
                <div class="type" >
                    <p>Argon</p>
                </div>
            </div>
        </td>
        
    </tr>
</table>
{% endblock %}
    