<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Nunito:wght@300&family=Outfit:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
        <style>
            
        </style>
    </head>
    <body>
        <div class = "logo-container">
            <img id = "logo-container__img"/>
        </div>
        <div class = "login-container">
            <div class = "login-container__contents">
                <h1>Login to</h1>
                <h2>Atomic Odyssey</h2>
                <form class = "login-container__form" method = "post">
                    <input type = "text" name = "login-username" placeholder="Username">
                    <input type = "password" name = "login-password" placeholder="Password">
                    <input type="submit" value="Login">
                </form>
                <p>
                    Dont have an account?
                    <label>Create one here.</label>
                </p>
            </div>
        </div>

    </body>
</html>
