body {
    margin: 0;
    padding-top: 10%;
    display: flex;
    font-family: 'Outfit';
    font-weight: 100;
    color: white;
    flex-direction: column;
    background-color: #0f1e29;
    overflow-x: hidden;
    
}
.floating-nav {
    overflow-y: hidden;
    border-color: #024473;
    border-width: 1px;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    width: 5%;
    height: 50%;
    background-color: #0f1e29;
    text-align: center;
    left: 0%;
    top: 25%;
    position: fixed;
    overflow-x: hidden;
    border-style: solid;
    border-color: #1880ca;
    border-width: 2px;
    border-radius: 5px;
}
#active-bar:hover {
    opacity: 1;
}
.floating-nav:hover {
    width: 10%;
    opacity: 1;
}
.floating-nav a{
    text-decoration: none;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96%;
    width: 100%;
    text-align: center;
    color: white;
}
.floating-nav span {
    
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.floating-nav span:hover {
    background-color: #0f1e29;
}
#home:hover span::after{   
    margin: 0;
    opacity: 1;
} 

#levels:hover span::after{   
    margin: 0;
    opacity: 1;
} 
#profile:hover span::after{   
    margin: 0;
    opacity: 1;
} 
#settings:hover span::after{   
    margin: 0;
    opacity: 1;
} 
#logout:hover span::after{   
    margin: 0;
    opacity: 1;
} 
span::after {
    transition-duration: 0.5s;
    font-family: 'Quicksand';
    font-size: 15px;
    margin-left: 10px;
    flex-direction: column;
}
#home span::after {
    content: "Main";
    margin-left: -75%;
    opacity: 0;
}
#levels span::after {
    content: "Levels";
    margin-left: -88%;
    opacity: 0;
}
#profile span::after {
    content: "Profile";
    margin-left: -90%;
    opacity: 0;
}
#settings span::after {
    content: "Settings";
    margin-left: -110%;
    opacity: 0;
}
#logout span::after {
    content: "Logout";
    margin-left: -105%;
    opacity: 0;
}
.navigation {
    transition-duration: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100vw;
    height: 10vh;
    box-shadow: 0px 10px 10px rgba(24, 128, 202,0.1);
    background-image: linear-gradient(#0f1e29, rgba(24, 128, 202,0.1));
    background-color: #0f1e29;
    border-bottom-style: solid;
    border-color: rgb(24, 128, 202);
    border-width: 2px;

}
.navigation:hover {
    box-shadow: 0px 10px 20px rgba(24, 128, 202,0.2);
}
.navigation .main-nav {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navigation .main-nav a {
    height: 10vh;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation img {
    width: 50px;
    margin-left: -5%;
}
.navigation .profile-bar {
    margin-left: 50%;
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}
.navigation .profile-bar .profile-image-container{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5%;
    margin-left: 5%;
}
.navigation span {
    margin-left: 10%;
    margin-right: 10%;
}


.table-of-element {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20vh;
}
.table-of-element tr {
    display: flex;
    justify-content: space-around;
}

.table-of-element th {
    background-color: green;
    width: 5%;
    height: 13%;
    display: none;
}
.table-of-element td {
    transition: 0.5s;
    margin: 1px;
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13%;
    width: 5%;
    background-color: #0f1e29;
    border-style: solid;
    border-color: green;
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
}
.table-of-element .atomic-details {
    display: flex;
    padding-left: 10px;
    width: 5vw;
    height: 2vh;
    justify-content: space-around;
    align-items: center;
}

.table-of-element .atomic-details p {
    margin-top: 20%;
    width: 50%;
    font-size: 80%;
}
.table-of-element .symbol{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 7vh;
}
.element .type p {
    font-size: 10px;
    text-align: center;
}
.table-of-element .blank {
    
    color: #0f1e29;
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13vh;
    width: 5vw;
    background-color: #0f1e29;
    border-style: solid;
    border-color: #0f1e29;
    border-width: 2px;
    border-radius: 7px;
    justify-content: center;   
}

.table-of-element .akali-metal {
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13vh;
    width: 5vw;
    border-color: #0f1e29;
    border-style: solid;
    background-color: rgb(255, 108, 55);
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
}

.table-of-element .akali-metal:hover{
    background-color: #0f1e29;
    border-color:  rgb(255, 108, 55);
}

.table-of-element .alkaline-metal {
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13vh;
    width: 5vw;
    border-color: #0f1e29;
    border-style: solid;
    background-color: rgb(175, 137, 246);
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
}

.table-of-element .alkaline-metal:hover{
    border-color: rgb(175, 137, 246);
    background-color: #0f1e29;
}

.table-of-element .transition-metal {
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13vh;
    width: 5vw;
    border-color: #0f1e29;
    border-style: solid;
    background-color: rgb(91, 130, 246);
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
}

.table-of-element .transition-metal:hover{
    border-color: rgb(91, 130, 246);
    background-color: #0f1e29;
}

.table-of-element .post-transition-metal {
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13vh;
    width: 5vw;
    border-color: #0f1e29;
    border-style: solid;
    background-color: rgb(0, 199, 99);
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
}

.table-of-element .post-transition-metal:hover{
    border-color: rgb(0, 199, 99);
    background-color: #0f1e29;
}

.table-of-element .metalloid {
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13vh;
    width: 5vw;
    border-color: #0f1e29;
    border-style: solid;
    background-color: rgb(14, 167, 6);
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
}

.table-of-element .metalloid:hover{
    border-color: rgb(14, 167, 6);
    background-color: #0f1e29;
}

.table-of-element .non-metal {
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13vh;
    width: 5vw;
    color: black;
    border-color: #0f1e29;
    border-style: solid;
    background-color: rgb(223, 238, 18);
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
}

.table-of-element .non-metal:hover{
    border-color: rgb(171, 183, 15);
    background-color: #0f1e29;
    color: white;
}

.table-of-element .halogen {
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13vh;
    width: 5vw;
    border-color: #0f1e29;
    border-style: solid;
    color: black;
    background-color: rgb(255, 231, 47);
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
}

.table-of-element .halogen:hover{
    border-color: rgb(197, 192, 55);
    background-color: #0f1e29;
    color: white;
}

.table-of-element .noble-gas {
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13vh;
    width: 5vw;
    border-color: #0f1e29;
    border-style: solid;
    background-color: rgb(238, 151, 0);
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
}

.table-of-element .noble-gas:hover{
    border-color: rgb(239, 168, 45);
    background-color: #0f1e29;
}

.table-of-element .lanthanide {
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13vh;
    width: 5vw;
    border-color: #0f1e29;
    border-style: solid;
    background-color: rgb(45, 181, 239);
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
}

.table-of-element .lanthanide:hover{
    border-color: rgb(45, 181, 239);
    background-color: #0f1e29;
}

.table-of-element .actinide {
    text-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 13vh;
    width: 5vw;
    border-color: #0f1e29;
    border-style: solid;
    background-color: rgb(42, 196, 139);
    border-width: 2px;
    border-radius: 5px;
    justify-content: center;
}

.table-of-element .actinide:hover{
    border-color: rgb(42, 196, 139);
    background-color: #0f1e29;
}

.carousel-container {
    margin-top: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.carousel-container button {
    transition: 0.5s;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: transparent;
    border-style: none;
    background-color: rgba(12, 12, 12, 0.3);
    color:  silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.carousel {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 80%;
}
.carousel .level {
    transition-duration: 0.5s;
    width: 16%;
    height: 100%;
    background-color: red;
}
.carousel #lvl1 {
    
    background-image: url("/static/Elements/23.Vanadium.png");
    background-position:0%;
}
@keyframes moveBg {
    from{
        background-position:0%;
    }
    to {
        background-position: 100%;
    }
}
.carousel .level .gradient {
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(12, 12, 12, 0.5);
}
.carousel .level:hover {
    animation: moveBg 10s infinite ease-in;
    box-shadow: 0px 0px 20px rgb(23,23,23);
    transform: scale(1.1);
}
.carousel .level .gradient button {
    transition: 0.5s;
    font-size: 18px;
    background-color: rgba(12, 12, 12, 0.5);
    border-style: solid;
    border-color: #1880ca;
    border-width: 1px;
    width: 80%;
    height: 10%;
    border-radius: 5px;
}
.carousel .level .gradient button:hover {
    background-color: rgba(12, 12, 12, 0.9);
    
} 